<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lt.jono.injectionapp">

    <application
        android:allowBackup="true"
        android:label="Liejimo Staklių Parametrai"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ErrorsActivity" />
        <activity android:name=".activities.PolimeraiActivity"/>
        <activity android:name=".activities.MachineActivity"/>
        <activity android:name=".activities.ListActivity"/>
        <activity android:name=".activities.MachineDetailActivity"/>
        <activity android:name=".activities.NewMachineActivity"/>
    </application>
</manifest>
